* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.appjsx {
    margin-left: 1rem;
    margin-right: 1rem;
}

::-webkit-scrollbar {
    display: none;
}

@media (min-width: 640px) {
    .appjsx {
        margin-left: 10%;
        margin-right: 10%;
    }
}
